# https://vercel.com/integrations/planetscale
DATABASE_URL=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_CLIENT_ID=552527730953-m6rh6vlm1nsbq7lsktvm1njd4b5upv4f.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


# https://next-auth.js.org/providers/github
GITHUB_ID=552527730953-m6rh6vlm1nsbq7lsktvm1njd4b5upv4f.apps.googleusercontent.com
GITHUB_SECRET=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
